html,
body,
.tableauPlaceholder{
    width:100%;
    height: 100%;
    display: flex;
    flex: 1 1 auto;
    padding-top: 5;
    margin-top: 5;
    
  
    
}


.container {
    display: flex;
    width:100%;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    background-color:Navy;
    padding: 1rem 2rem;
    margin: 1rem 0rem;
    padding-left:20rem;
    
}

